<div class="text-center">
    <h1 class="display-4">Новости мира Волейбола </h1>
    <div class="card bg-dark text-white">
        <img class="card-img" src="https://avatars.mds.yandex.net/i?id=1df4f9d2f275b582e9f8fa498eabb364f0239de7-5147200-images-thumbs&n=13" alt="Card image">
        <div class="card-img-overlay">
            <h5 class="card-title"></h5>
            
        </div>
    </div>
    <p>
        Требования к характеристикам и методам испытания волейбольного мяча были впервые утверждены Федеральным агентством по техническому регулированию и метрологии. Новый ГОСТ, в частности, предписывает признавать бракованными и утилизировать все мячи, которые не будут соответствовать стандарту.
        Проверку будет проходить 1% партии, но не меньше трех мячей
        Как стало известно «МК», «правильный» мяч может быть только однотонным светлым или комбинированных цветов. Он должен иметь форму геометрической сферы, максимальное отклонение от нее может составлять не более 2% диаметра. Длина окружности мяча по диаметральному сечению может быть 65-67 см, масса — 260-280 г, внутреннее давление — 294,3-318,82 гПа.
        Испытания мяча проводят при температуре 20-22 градуса Цельсия и относительной влажности 65-67%. Перед началом тестов мяч выдерживают в таких условиях не менее суток. Давление проверяют манометром, затем взвешивают на электронных весах, диаметр измеряют в трех взаимно перпендикулярных плоскостях. Таким образом определяют отклонение спортивного снаряда от сферичности. Контроль асимметричности мяча проводят, скатывая его с горки длиной 1,8 м, шириной не менее 32 см с наклоном 10-12 градусов. По краям горки с интервалом 32 см устанавливают 12-сантиметровые штанги-ограничители. При качении мяч не должен их касаться. В финале испытаний мяч устанавливают между специальными плитами и 3 минуты сжимают с нагрузкой около 100 кг. Если после этого снаряд не порвался и не потерял сферичности, значит, он качественный. Мячи следует принимать партиями, размер которых должен быть не больше 10 000 штук. Проверку проходит 1% партии, но не меньше трех мячей. Если хоть один из них окажется некачественным, нужно будет испытывать всю партию.

        ресса 30 ноября. Российская Газета. Интервью Романа Станиславова, генменеджера сборной России на победной Олимпиаде-2012
        Генменеджер новосибирского «Локомотива» Роман СТАНИСЛАВОВ показывает фото десятилетней давности. Два бесконечно расстроенных человека на фоне опустевших трибун. В глазах главного тренера сборной России Владимира Алекно полное опустошение и немой вопрос: «Что же делать с этими монстрами?» Только что наши волейболисты во втором туре группового этапа олимпийского турнира в Лондоне «сгорели» Бразилии со счетом 0:3. До «золотого» для россиян финала оставалось двенадцать дней. Вторым человеком на снимке был 32-летний генеральный менеджер мужской национальной команды Роман СТАНИСЛАВОВ. Пришел его черед вспомнить подробности фантастической по своей драматургии победы.


        Роман Валерьевич, какая задача ставилась на турнир?


        Роман Станиславов: От волейбола из всех игровых видов спорта на летних Олимпиадах всегда ждут больше всего. Это, конечно, давило. В Лондоне на совещаниях Национального олимпийского комитета было такое настроение, что девушкам и парням медали заранее повесили. Шансы женской сборной перед Играми котировалось повыше. Помню, мы готовились к четвертьфиналу с Польшей и решили перед тренировкой посмотреть игру девчонок с Бразилией. Драматичный матч из пяти партий закончился поражением, и мы зашли в лифт в гробовом молчании. Это был шок. Мы жили с девчонками на одном этаже, видели, как по ночам работали их тренеры, анализировавшие игры, а тут - раз и все: завтра они покидают Лондон. Без наград. Думаю, это разозлило пацанов. Они точно не хотели повторения такой истории. Тренерский штаб грамотно подвел команду к четвертьфиналу с сильной Польшей. Команда «звенела». Разгромили поляков - 3:0.


        Что происходило в кулуарах, на уровне общения с руководителями делегаций? Фаворитом считалась Бразилия?


        Роман Станиславов: Конечно. Как в футболе: «Вы Бразилии забьете, сколько сможете, а она - сколько захочет». То, что мы у них год назад выиграли в Мировой лиге, считалось большим сюрпризом и исключением из правил. А после того как бразильцы вчистую обыграли нас в Лондоне на групповом этапе... В целом мы со всеми делегациями общались нормально. Конечно, наиболее дружеские отношения были с сербами, болгарами и даже с поляками. Традиционно добрые отношения были с итальянцами. Американцы как обычно держались немного на дистанции. А с бразильцами мы друг другу не то улыбались, не то скалились.


        Давайте вспомним финал. Как спалось накануне?


        Роман Станиславов: Расскажу про шутку со шкафом, которую устроил Владимир Романович. Это была первая для меня Олимпиада, и старшие товарищи из федерации, министерства спорта и НОКа накануне игр устроили проверку: «Ты полностью готов, все с собой взял?» Конечно, говорю, у меня все подписано, забронировано, перечислено. Усмехаются и повторяют вопрос. Я не понимаю, чего же от меня хотят. «Ни хрена ты не готов! Одна из главных задач менеджера - подготовить тренеров к матчам, помочь им снять нервное напряжение, расслабиться». И тут до меня дошло.


        В олимпийской деревне на алкоголь, естественно, табу, но бывалые люди рассказали, как можно все аккуратно сделать. Мне удалось провезти по бутылке армянского коньяка, рижского бальзама и русской водки, а также шпроты, черный хлеб, селедку, икру кабачковую и сало. На всю Олимпиаду запас спиртного для тренеров мужской и женской команд был, сами понимаете, чисто символическим. Романыч пригубливал лишь затем, чтобы легче уснуть, генменеджер женской сборной Овчинников больше курил, Серджио Бузато (мы его звали Сергеем Бузатовым) вообще не прикасался. Володя всегда ложился спать раньше меня.


        Мне же постоянно надо было заполнять какие-то документы, утрясать оргвопросы, а потом еще общались на балконе с Серегой Овчинниковым. В номере я появлялся, когда Володя спал. А то, что он спал, можно было сразу понять, взглянув на его кровать. Чтобы тоже быстрее отойти ко сну, я открывал тихонько шкаф, где хранилось спиртное, и наливал 25-50 граммов. В ночь перед финалом захожу, смотрю - вроде лежит «гора» на кровати, то есть спит. Открываю шкаф - и оттуда вылетает Володя!.. Он полчаса меня поджидал. Как туда крупногабаритный Романыч сумел поместиться, не знаю, но сказать, что я напугался - ничего не сказать. Заснули мы, правда, быстро и спали крепко.


        Первые две партии финала были проиграны без шансов. Повторялся кошмар группового этапа. Принято считать, что перелом в третьей партии наступил, когда Мусэрского перевели в диагональ, а Михайлов встал в доигровку. Но и это сказалось не сразу. До последнего розыгрыша мяча в том сете все висело на волоске.


        Роман Станиславов: С бразильцами надо уметь терпеть. Есть даже шутка: «Не проиграешь Бразилии всухую, затянешь в долгую - есть шанс». В финале они нас опять плющили, и всё снова катилось к 0:3, если бы не героическая игра Сергея Тетюхина и Александра Волкова. Михайлов и Мусэрский, конечно, огромные молодцы, со стороны Алекно это был гениальный ход со сменой их амплуа, но именно Тетюхин и Волков насмерть вцепились в бразильцев.


        Как Серега в концовке третьей партии выполнил свои гениальные подачи? Как Саня умудрился один в один заблокировать атаку Лукаса? Команда играла на максимуме и делала все возможное, но требовались герои - и они появились. Когда нас приперли к стенке и позарез нужен был лидер, у нас их оказалось двое. Бразильцы же выпустили на заднюю линию великого Жибу, видимо, решив, что этой легенде надо немного засветиться в победном финале. А он оказался не готов. Вот и всё. Бразильцы ведь не железные, тоже живые люди. Третья партия - победа совсем близка, хватка ослабла, тренер Фернандо Резенде, дав поиграть, как он думал, в концовке Жибе, фактически демотивировал команду. А мы дотерпели.


        Не помню уже, где прочитал, что идею с перестановкой Мусэрского и Михайлова главному тренеру в перерыве подсказал Серджио Бузато.


        Роман Станиславов: Так могло быть. Но подобная перестановка уже практиковалась. Дима в «Белогорье» менял амплуа. Наигрывалась такая схема в самой сборной, когда Макс травмировался с болгарами накануне Игр. После второй партии напрашивалось что-то поменять - это очевидно. Но кто бы не советовал, ответственность всегда лежит на главном тренере. Решение принял Алекно. И если бы оно не сработало, Володю бы в порошок стерла армия критиков. Он отдавал себе в этом отчет и рискнул. Но это был подготовленный риск.


        После победы мы в раздевалке дали волю эмоциям. Перегородки между раздевалками были достаточно легкими, однако бразильцы повели себя достойно. Конечно, они страшно расстроились, но в их составе были большие личности - Сержио, Жиба, Данте. Запомнилось, как сразу после матча Жиба тепло поздравлял Тетюхина.


        «Большое видится на расстоянье». Когда пришло осознание масштаба той победы?


        Роман Станиславов: До сих пор не пришло. Может быть, потому что половина «золотого» состава до сих пор играет - Гранкин, Михайлов, Волков, Обмочаев, Мусэрский - в Японии, Юра Бережко - у нас в «Локомотиве». Все мы еще достаточно молодые. Десять лет назад казалось, что начинается эра сборной России и мы повторим успех. У нас случилось немало красивых побед, но, увы, не в финале Олимпийских игр. Может, попозже придет это понимание. Когда, например, художественный фильм снимут про тот турнир. Фактура-то прекрасная, сколько сюжетных линий можно выстроить. Мне бы очень хотелось увидеть такое кино.


        ***


        КЛЮЧЕВОЙ ВОПРОС


        Для вас ясен рецепт олимпийской победы?


        Роман Станиславов: Все по-разному относятся к религии, но в моем представлении у волейбольного бога есть точнейшие весы. Напрасно кто-то думает, что для большой победы достаточно немного везения, что где-то «прокатит на шару», звезды сойдутся особым образом - у волейбольного бога не прокатит. На чашах его весов лежат все плюсы и минусы с момента рождения игроков и тренеров. Учитывается все: кто где схалтурил, обманул, кто пожертвовал ради команды своим здоровьем, кто бился на площадке, не щадя себя. И я верю: если ты отдаешь всего себя ради большой победы, пашешь на тренировках и в играх от начала до конца, идешь на все испытания и лишения, не нарушаешь определенные правила, традиции и даже приметы (это все, в конечном итоге, дисциплинирует), волейбольный бог рано или поздно тебе воздаст. Когда в решающем матче сталкиваются лоб в лоб достойные друг друга соперники, победа достается тому, кто ее больше выстрадал всей своей игровой карьерой.


        Беседовал Сергей ЗЮЗИН
    </p>
</div>