@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Виды мячей</h1>
    <p>Здесь будут представлены разновидности мячей</p>
</div>


 



<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="https://cdn.sptmr.ru/upload/resize_cache/iblock/13a/800_800_1/61895360299.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Первый вид</h5>
                <p class="card-text">Стандартный мяч,подходит для начинающих игроков.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="https://cdn.sptmr.ru/upload/resize_cache/iblock/43c/800_800_1/53610360299.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Второй вид</h5>
                <p class="card-text">Этот вид чаще используют проффесионалы.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="https://cdn.sptmr.ru/upload/resize_cache/iblock/467/800_800_1/50007620299.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Третий вид</h5>
                <p class="card-text">Этот вид мячей подходит для пляжной игры</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>
