@{
    ViewData["Title"] = "Товары";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
<h1 class="display-4"></h1>
<p>Товарное Ассорти</p>
</div>
<div class="contanier">
    <div class="row">
        <div class=" col-3 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.sptmr.ru/upload/resize_cache/iblock/ff5/800_800_1/61717000299.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ДЕМИС</h5>
                    <p class="card-text">Мяч волейбольный ДЕМИС Championship</p>
                    <p class="Цена">1 609 ₽</p>
                    <a href="https://localhost:44361/Home/Index1">
                        <button>Купить</button>
                        <button onclick="easynetshop_buy('I');">Купить</button>

                    </a>
                </div>
            </div>
        </div>
        <div class=" col-3 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.sptmr.ru/upload/resize_cache/iblock/20e/800_800_1/61895370299.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ДЕМИС</h5>
                    <p class="card-text">Мяч волейбольный ДЕМИС Easy Touch</p>
                    <p class="Цена">1 700 ₽</p>
                    <meta charset="utf-8" />
                    <a href="https://localhost:44361/Home/Index1">
                        <button>Купить</button>
                        </a>
                </div>
            </div>
        </div>

        <div class=" col-3 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.sptmr.ru/upload/resize_cache/iblock/738/800_800_1/61717030299.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ДЕМИС</h5>
                    <p class="card-text">Мяч волейбольный ДЕМИС Hawaii</p>
                    <p class="Цена">1 909 ₽</p>
                    <a href="https://localhost:44361/Home/Index1">
                        <button>Купить</button>
                        </a>
                </div>
            </div>
        </div>

        <div class=" col-3 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.sptmr.ru/upload/resize_cache/iblock/13a/800_800_1/61895360299.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ДЕМИС</h5>
                    <p class="card-text">Мяч волейбольный ДЕМИС VLPU440 Super Touch</p>
                    <p class="Цена">2 000 ₽</p>
                    <a href="https://localhost:44361/Home/Index1">
                        <button>Купить</button>
                        </a>
                </div>
            </div>
        </div>

        <div class=" col-3 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.sptmr.ru/upload/resize_cache/iblock/c9a/800_800_1/61717010299.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ДЕМИС</h5>
                    <p class="card-text">Мяч волейбольный ДЕМИС VLPU440 Super Touch</p>
                    <p class="Цена">1 400 ₽</p>
                    <a href="https://localhost:44361/Home/Index1">
                        <button>Купить</button>
                        </a>
                </div>
            </div>
        </div>

        <div class=" col-3 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.sptmr.ru/upload/resize_cache/iblock/d05/800_800_1/61717020299.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ДЕМИС</h5>
                    <p class="card-text">Мяч волейбольный сувенирный ДЕМИС Aloha</p>
                    <p class="Цена">1 500 ₽</p>
                    <a href="https://localhost:44361/Home/Index1">
                        <button>Купить</button>
                        </a>
                </div>
            </div>
        </div>
        <div class=" col-3 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.sptmr.ru/upload/resize_cache/iblock/a9c/800_800_1/53610450299.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">МОЛТА</h5>
                    <p class="card-text">Мяч волейбольный МОЛТА ОФИШИАЛ</p>
                    <p class="Цена">2 100 ₽</p>
                    <a href="https://localhost:44361/Home/Index1">
                        <button>Купить</button>
                        </a>
                </div>
            </div>
        </div>
        <div class=" col-3 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.sptmr.ru/upload/resize_cache/iblock/404/800_800_1/53610430299.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">МОЛТА</h5>

                    <p class="card-text">Мяч для пляжного волейбола МОЛТА</p>
                    <p class="Цена">2 600 ₽</p>
                    <a href="https://localhost:44361/Home/Index1">
                        <button>Купить</button>
                        </a>


                </div>
            </div>
        </div>
    </div>
</div>






